<div class="img-wrapper-outer">
  <div class="img-wrapper">
    <img class="img" src="<%= data.avatar %>" alt="">
  </div>
  <h2 class="name"><%= data.nick_name %></h2>
</div>
<div class="detail-wrapper">
  <!-- <div class="left">
    <p>
      <span class="small">$</span>
      <span class="J_TotalProfit"><%= parseInt(data.gross_profit||0) %></span>
    </p>
    <p class="desc">全时收益</p>
  </div> -->
  <div class="right">
    <p class="desc">月均收益率</p>
    <p><%= parseInt(data.month_rate_of_return * 100 || 0) %> <span class="small">%</span></p>
  </div>
  <!-- <a href="./data.html?inviteCode=<%= data.inviteCode %>&from=<%= encodeURIComponent(location.href) %>" class="link">数据分析</a> -->
</div>
<div class="bottom-wrapper clearfix" id="J_BtData">
  <div>
    <p class="bt-desc">自主交易</p>
    <p class="bt-bd"><span class="J_SelfTicket">-- --</span>笔</p>
  </div>
  <div>
    <p class="bt-desc">跟单交易</p>
    <p class="bt-bd"><span class="J_SelfFollow">-- --</span>笔</p>
  </div>
  <div>
    <p class="bt-desc">邀请好友</p>
    <p class="bt-bd"><span class="J_Invite">-- --</span>人</p>
  </div>
</div>