<% $.each(data.tickets, function(index, item) {%>
<li class="item J_Item" data-symbol="<%= item.symbol %>">
    <a class="link clearfix" href="javascript:;">
        <span class="tag <% if(item.cmd.indexOf('buy') !== -1) {%>lose <%}%>"></span>
        <div class="name-wrapper">
            <p class="name"><%= item.symbolName %></p>
            <p><%= item.symbol %></p>
        </div>
        <ul class="detail">
            <li>
                <p class="name">盈亏</p>
                <% var guandan = (item.status == 'cancelled' || item.status == 'rejected'); %>
                <% var profit = (parseFloat(item.profit) + parseFloat(item.swap)  - parseFloat(item.commission)); %>
                <p class="J_Formate profit <%= profit > 0 ? 'up' : '' %> <%= guandan ? '' : 'no-guadan' %>" data-order="<%= item.ticket %>" ><%= guandan ? '挂单' : (profit).toFixed(2) %></p>
            </li>
            <li>
                <p class="name">平仓价格</p>
                <p class="J_Price J_Formate" data-symbol="<%= item.symbol %>"><%= item.closePrice %></p>
            </li>
            <li>
                <p class="name">开仓价格</p>
                <p class="J_Formate"><%= item.openPrice %></p>
            </li>
           <li>
                <p class="name">占用资金</p>
                <p class="J_Formate"><%= item.margin %></p>
            </li>
            <li>
                <p class="name">止盈价格</p>
                <p class="J_Formate"><%= item.takeProfit %></p>
            </li>
            <li>
                <p class="name">止损价格</p>
                <p class="J_Formate"><%= item.stopLoss %></p>
            </li>
        </ul>
       <!--  <span class="guide">
            <span class="triangle"></span>
        </span> -->
    </a>
</li>
<% }); %>

<% if (data.tickets.length === 0) {%>
<li class="empty">你还没有历史交易信息</li>
<% } %>