<% $.each(data, function(index, item) {%>
<!-- 加up表示涨 -->
    <% var bidPrice = parseFloat(item.quote && item.quote.bid_price[0]) || '--'; var askPrice = parseFloat(item.quote && item.quote.ask_price[0]) || '--'; %>
    <% rate = ((bidPrice+askPrice) / 2 - item.close_price)/item.close_price; var isUp = rate >= 0;  %>
    <% rate = isNaN(rate) ? '--' : (rate.toFixed(5) * 100).toFixed(3);%>
    <% var price = (bidPrice + askPrice) / 2; %>
    <% var unit = (item.policy.min_quote_unit.toString().length - 2) >= 0 ? item.policy.min_quote_unit.toString().length - 2 : 0; %>

<li class="item default-down <% if(isUp){%> up <%}%>" data-symbol="<%= item.policy.symbol %>" data-symbolname="<%= item.policy.symbol.replace(/\./g, '--') %>">
    <a class="link bd-color link-item clearfix" href= "<%= data.tradeUI %>symbol=<%= item.policy.symbol %>&name=<%= item.policy.name %>&price=<%= (price).toFixed(5) %>&unit=<%= item.policy.min_quote_unit %>&fullRouter=<%= encodeURIComponent(location.href) %>">
        <!-- status 默认是余额不足， break表示违规，simulate表示限模拟，close表示休市 -->
        <% if (item.tag) {%>
        <span class="status <%= item.className %>" data-symbol="<%= item.policy.symbol %>" data-symbolname="<%= item.policy.symbol.replace(/\./g, '--') %>"><%= item.tag %></span>
        <% } else {%>
        <span class="status" data-symbol="<%= item.policy.symbol %>" data-symbolname="<%= item.policy.symbol.replace(/\./g, '--') %>" style="visibility: hidden">余额不足</span>
        <% } %>
        <div class="lt-item name-wrapper">
            <p class="name l1-color J_SymbolName"><%= item.policy.name %></p>
            <p class="l2-color"><%= item.policy.symbol %></p>
        </div>
        <span class="lt-item price J_BidPrice"><%= bidPrice === '--' ? '--' : bidPrice.toFixed(unit) %></span>
        <!--<%=Math.abs(askPrice - bidPrice).toFixed(unit)%>-->
        <!-- <span class="lt-item spread J_Spread">8.0</span> -->
        <span class="lt-item spread"><span class="spread-content ui common J_Spread">8.0</span></span>
        <span class="lt-item price J_AskPrice"><%= askPrice === '--' ? '--' : askPrice.toFixed(unit) %></span>
        <span class="lt-item percent <%if(rate > 0){%>up <%}%> J_Percent" data-range="<%= isNaN(price) ? '--' :  (price - item.close_price).toFixed(unit) %>"><%= rate %>%</span>
        <div class="action-wrapper clearfix" >
          <span class="up J_UpSymbol" data-symbol="<%= item.policy.symbol %>">置顶</span>
          <span class="del J_DelSymbol" data-symbol="<%= item.policy.symbol %>">移除</span>
        </div>
    </a>  
</li>
<% }); %>