<% data.data.forEach(function(item, index) {%>
    <%var className%>
    <% if (item.weightiness == 1) {%>
        <% className = 'yel' %>
    <%} else if(item.weightiness == 2) {%>
        <% className = 'ora' %>
    <%} else {%>
        <% className = 'red' %>
    <%}%>
    <% if (item.nextWeek) {%>
        <li class="tr-date">
            <span colspan="5">
                <span class="mouth"><%= item.mouth %></span>
                <span class="day">星期<%= item.day %></span>
            </span>
        </li>
    <%} else {%>
        <li class="<%= item.curValue ? 'cur-value' : '' %> <%= className %>">
            <span class="date clearfix">
                <p class="desc"><%= item.time.split(' ')[1].substring(0, 5) %></p>
                <span class="icon">
                    <img class="img" src="<%= 'http://cdn2.jin10.com/news/wx/img/flag/' + item.countryName + '.png' %>">
                </span>
            </span>
            <div class="effect">
                <% var AD_GGZ = item.AD_GGZ.split(' ')[0] %>
                <% if (item.AD_GGZ) {%>
                    <p class="top <%= AD_GGZ.indexOf('空') !== -1 ? '' : 'up' %>">
                        <span class="eff-desc"><%= AD_GGZ %></span>    
                    </p>
                <%}%> 
            </div>
            <span class="publish clearfix">
                <p class="pub-desc"><%= item.countryName %> <%= item.content %></p>
                <span class="num-desc">公布值：</span>
                <span class="num J_Pub"><%= item.currentValue ? item.currentValue : '未公布' %></span>
            </span>
            <span class="forecast">
                <span class="num-desc">预测值：</span>
                <span class="num J_Fore"><%= item.predict ? item.predict : '- -' %></span>
            </span>
            <span class="slip">
                <span class="num-desc">前值：</span>
                <span class="num J_Slip"><%= item.previous ? item.previous : '- -' %></span>
            </span>
        </li>
    <%}%>
<%})%>

<% if(data.data.length == 0) {%>
    <li><span class="no-data">暂无数据</span></li>
<%}%>