<li class="item price-info">
    <div>
        <span class="tag default-down<% if (data.cmd.indexOf('buy') !== -1) { %> up <% } %>">
            <%= data.status === 'pending' ? '挂单' : (data.cmd.indexOf('buy') !== -1 ? '买涨' : '买跌') %>
        </span>
        <span class="tag <% if (data.cmd.indexOf('buy') !== -1) { %> up <% } %>">
            <%= data.symbolName %>
        </span>
    </div>
    <div class="right price-wrapper">
        <span class="currency">$</span>
        <span id="J_FloatProfit">--</span>
    </div>
</li>
<li class="item clearfix">
    <div>
        <span class="name">交易手数</span>
        <span><%= data.volume %></span>
    </div>
    <div class="right">
        <span class="name">交易利润($)</span>
        <span><span id="J_FloatProfitTrading"></span></span>
    </div>
</li>
<li class="item clearfix">
    <div>
        <span class="name">开仓价格</span>
        <span><%= data.openPrice %></span>
    </div>
    <div class="right">
            <span class="name">手续费($)</span>
            <span><%= data.commission %></span>
    </div>
</li>
<li class="" id="J_More" style="">
    <ul>
        <li class="item clearfix time-wrapper">
            <div>
                <span class="name">隔夜利息($)</span>
                <span><%= data.swap %></span>
            </div>
            <div class="right">
                <span class="name">跟随高手</span>
                <span>
                    <% if (data.follow_from_ticket) { %>
                        <a href="./my/profile.html?inviteCode=<%= data.follow_from_invite_code %>&from=<%=encodeURIComponent(location.href) %>"><%= data.follow_from_nickname %></a>
                    <% } else { %>
                        --
                    <% } %>
                </span>
            </div> 
        </li>
        <li class="item clearfix">
            <div>
                <span class="name">止盈价格</span>
                <span><%= parseFloat(data.takeProfit) === 0 ? '--' : data.takeProfit %></span>
            </div>
            <div class="right">
                <span class="name">止损价格</span>
                <span><%= parseFloat(data.stopLoss) === 0 ? '--' : data.stopLoss %></span>
            </div>
        </li>
        
        <li class="item clearfix"> 
            <div>
                <span class="name">订单号</span>
                <span><%= data.ticket %></span>
            </div>
        </li>
        <li class="item clearfix">
            <div>
                <span class="name">开仓时间</span>
                <span class="time"><%= data.openTime.split(' ')[0] %></span>
                <span class="time"><%= data.openTime.split(' ')[1] %></span>
            </div>
        </li>
    </ul>
</li>