<% $.each(data, function(index, item) {%>
<li class="clearfix">
    <div class="img-wrapper-outer">
        <div class="img-wrapper">
            <img class="img" src="<%= item.img %>">
        </div>
    </div>
    <div class="info">
        <span class="tag <%= item.cmd.indexOf('buy') !== -1 ? 'up' : ''%>"></span>
        <h2><%= item.nickname %></h2>
        <p class="symbol-name"><%= item.symbolName %></p>
        <p>盈利：$ <%= item.profit %></p>
    </div>
    <div class="money">

        <p>$<span class="num"><%= item.award %></span></p>
        <p class="date"><%= item.created %></p>
    </div>
</li>
<% }); %>

<% if (data.length === 0) {%>
<li class="empty"><p>您的好友还没有盈利，快去帮忙吧！</p></li>
<% } %>