<% if (!data.init) {%>
<div class="switch-wrapper clearfix">
    <a class="simulate <% if (data.type === 'demo') { %>active<% } %> J_Switch" href="javascript:;">模拟</a>
    <a class="firm <% if (data.type === 'real') { %> active<% } %> J_Switch" href="javascript:;">实盘</a>
    <span class="switch <% if (data.type === 'real') { %>firm-s <%}%>" id="J_GetSwitch">
        <span class="desc"><%= data.type === 'demo' ? '模拟' : '实盘' %></span>
        <span class="triangle"></span>
        <% if (data.edit) {%>
        <span class="span-hide"></span>
        <% } %>
    </span>
</div>
<% } %>
<% function getMount(num, unit) {unit = unit || 2;return parseFloat(num).toFixed(unit).toString().split('.')[1];} %>

<% if (data.type === 'demo') { %>
<ul class="clearfix" id="J_DemoAccount">
    <li>
        <p><%= parseInt(data.freeMargin) %>.<span class="small"><%= getMount(data.freeMargin) %></span></p>
        <p class="desc">可用保证金($)</p>
    </li>
    <li>
        <p><%= data.rate === '--' ? '--' : parseInt(data.rate) %><% if (data.rate !== '--') {%>.<% } %><span class="small"><%= data.rate === '--' ? '' : getMount(data.rate) + '' %></span></p>
        <p class="desc">保证金比例(%)</p>
    </li>
    <li>
        <p><%= parseInt(data.netDeposit) %>.<span class="small"><%= getMount(data.netDeposit)%></span></p>
        <p class="desc">账户净值($)</p>
    </li>
    <li> 
        <a class="charge" href="./recharge-demo.html?src=<%= encodeURIComponent(location.href) %>">充值</a>
    </li>
</ul>
<% } %>

<% if (data.type !== 'demo') { %>
<ul class="clearfix" id="J_Account">
    <li>
        <p><%= parseInt(data.freeMargin) %>.<span class="small"><%= getMount(data.freeMargin) %></span></p>
        <p class="desc">可用保证金($)</p>
    </li>
    <li>
        <p><%= data.rate === '--' ? '--' : parseInt(data.rate) %><% if (data.rate !== '--') {%>.<% } %><span class="small"><%= data.rate === '--' ? '' : getMount(data.rate) + ' %' %></span></p>
        <p class="desc">保证金比例</p>
    </li>
    <li>
        <p><%= parseInt(data.netDeposit) %>.<span class="small"><%= getMount(data.netDeposit)%></span></p>
        <p class="desc">账户净值($)</p>
    </li>
    <li> 
        <a class="charge" href="./recharge.html?src=<%= encodeURIComponent(location.href) %>">充值</a>
    </li>
</ul>
<% } %>