<div class="dialog J_Dialog dialog-trade cm-dialog <% if(data.up){%>dialog-up<%}%>" id="J_Dialog">
   <div class="dialog-title"><%= data.up ? '买涨' : '买跌' %></div>
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
        <h2><%= data.name %></h2>
        <ul>
            <li class="content-hd"><span class="open-price">开仓价格</span><%= parseFloat(data.openPrice).toFixed(data.minQuoteUnit) %></li>
            <li class="content-bd clearfix">
                <div class="left">
                    <p>交易量（手）：</p><p class="num"><%= data.volume %></p>
                </div>
                <div class="right">
                    <p>目标/止损：</p><p class="num"><%= data.takeProfit == 0 ? '--' : parseFloat(data.takeProfit).toFixed(data.minQuoteUnit)  %>/<%= data.stopLoss == 0 ? '--' : parseFloat(data.stopLoss).toFixed(data.minQuoteUnit)  %></p>
                </div><span class="bar"></span>
            </li>
            <li class="content-bd last clearfix">
                <div class="left">
                    <p>占用资金（$）：</p><p class="num"><%= data.margin %></p>
                </div>
               <!--  <div class="right">
                    <p>占用资金（$）：</p><p class="num">data.margin</p>
                </div> -->
                <span class="bar"></span>
            </li>
        </ul>
   </div>
   <div class="dialog-buttons clearfix" id="J_Success">
       <a class="dialog-btn order J_Order" href="../trade.html">查看我的交易</a>
       <a class="dialog-btn list J_List" href="../option.html">返回商品列表</a>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>