<% data.tickets.forEach(function(item) { %>
<li class="item J_Item" data-symbol="<%= item.symbol %>">
    <a class="link clearfix" href="javascript:;">
        <span class="tag <%= item.cmd.indexOf('buy') !== -1 ? 'lose' :'' %> "></span>
        <div class="name-wrapper">
            <p class="name"><%= item.symbolName %></p>
            <p><%= item.symbol %></p>
        </div>
        <ul class="detail">
            <li class="">
                <p class="name">盈亏</p>
              </li>
              <li>
                <% if (item.status == 'pending') { %>
                <p class="J_Formate profit no-guadan" data-order="10683812">
                  <span class="profit pending">挂单</span>
                </p>
                <% } else { %>
                <p class="J_Formate profit  <%= item.profits > 0 ? 'up' : '' %>  no-guadan" data-order="10683812">
                    <%= (item.profits).toFixed(2) %>
                </p>
                <% } %>
            </li>
        </ul>
    </a>
</li>

<% }); %>

<% if (data.tickets.length === 0) {%>
<li class="empty">暂无交易数据</li>
<% } %>
