 <div class="hd ">
   <p>
     <span class="tag <% if (data.status === 'pending') {%> guadan <%}%><% if (data.cmd.indexOf('buy') !== -1) { %> up <% } %>"><%= data.status === 'pending' ? (data.cmd.indexOf('buy') !== -1 ? '买涨' : '买跌') + '挂单' : (data.cmd.indexOf('buy') !== -1 ? '买涨' : '买跌') %>
    </span>
    <span><%= data.symbolName %></span>
  </p>
  <!--<span class="category"><%= data.symbolCategory %></span>-->
</div>
<% goal = parseFloat(data.takeProfit) && data.status === 'pending' ; %>
<div class="status-wrapper">
    <span class="sign">$</span>
    <span class="num <%= goal ? 'J_ProfitCount' : 'J_FloatProfit' %>">--</span>
    <!-- <span class="status"><%= goal ? '目标盈利' : '当前盈利' %></span> -->
</div>

<div class="progress-wrapper">
  <div class="wrapper clearfix">
    <span class="title">当前盈利($)</span>
    <div class="progress-outer">
      <div class="progress">
        <div class="progress-inner float-profit">
          <span class="desc">
            <span class="sign"></span>
            <span class="J_FloatProfit">--</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <% if (parseFloat(data.takeProfit)) {%>
  <!-- <div class="wrapper clearfix">
    <span class="title">目标盈利</span>
    <div class="progress-outer">
      <div class="progress">
        <div class="progress-inner profit-margin">
          <span class="desc">
            <span class="sign">$ </span>
            <span class="J_ProfitCount">--</span>
          </span>
        </div>
      </div>
    </div>
  </div> -->

  <% } %>
  
  <div class="wrapper clearfix">
    <span class="title">投入资金($)</span>
    <div class="progress-outer">
      <div class="progress">
        <div class="progress-inner margin-progress" style="">
          <span class="desc">
            <span class="sign"></span><%= data.margin %>
          </span>
        </div>
        
      </div>
      
    </div>
  </div>
</div>