<% data.forEach(function(item){ %>
<% if (item.profit > 0) {%>
<div class="item clearfix">
  <a href="./profile.html?inviteCode=<%= item.invite_code %>&from=<%= encodeURIComponent(location.href) %>">
    <div class="img-wrapper-outer">
      <div class="img-wrapper">
        <img class="img" src="<%= item.avatar %>" alt="">
      </div>
    </div>
    <span class="nickname"><%= item.nickname %></span>
    <span class="tag">$</span>
    <span class="profit"><%= item.profit.toFixed(2) %>
    </span>
  </a>
</div>
<% } %>
<% }); %>

<% if (data.length == 0) {%>
  <p class="emtpy">暂无数据</p>
<% } %>