<% data.list.forEach(function(item, index) {%>
	<li class="my-follow J_MyFollow" data-id='<%= item.expert_id %>'>
	<a href='./followorder-history.html?expertId=<%= item.expert_id %>'>
		<div class="follow-list-user">
			<div class="img-wrapper-outer">
				<div class="img-wrapper">
					<img class="img" src="<%= item.img %>">
				</div>
			</div>
			<span class="name"><%= item.name %></span>
		</div>
		<div class="follow-trade-info">
			<div class="item">
				<p class="desc l2-color">跟单盈亏</p>
				<p class="num <%= parseFloat(item.follow_tickets_profit_sum) > 0 ? 'up' : '' %>">
					<%= parseFloat(item.follow_tickets_profit_sum).toFixed(2) %>
				</p>
			</div>
			<div class="item">
				<p class="desc l2-color">跟单交易</p>
				<p class="num"><%= item.follow_tickets_count %></p>
			</div>
			<div class="item">
				<p class="desc l2-color">跟单时间</p>
				<p class="num"><%= item.follow_days %> 天</p>
			</div>
		</div>
	</a>
	</li>

<%})%>

<%if (data.list.length === 0) {%>
	<li class="no-list">当前没有跟单</li>
<%}%>
