<% $.each(data, function(index, item) {%>
<li class="item clearfix">
    <a class="link J_Order" href="../pro-trading.html?symbol=<%= item.symbol %>&name=<%=item.symbolName %>&openprice=<%=item.openPrice%>&stoploss=<%=item.stopLoss%>&takeprofit=<%=item.takeProfit%>&volume=<%= item.volume %>&unit=<%= item.min_quote_unit %>&cmd=<%= item.cmd %>&deal=recommend&fullRouter=<%= encodeURIComponent(location.href) %>" data-id="<%= item.id %>">
    <div class="left">
        <span class="tag <% if(item.cmd.indexOf('buy') !== -1) {%>up <%}%>"></span>
        <h2><%= item.symbolName %></h2>
        <ul>
            <li>进场：<%= item.openPrice %></li>
            <li>止盈：<%= item.takeProfit %></li>
            <li>止损：<%= item.stopLoss %></li>
        </ul>
    </div>
    <div class="right">
        <p>目标盈利：$<span class="num"><%= item.profit %></span></p>

        <div class="order-wrapper">
            <p>已有<%= item.openCount %>人下单</p>
            <span class="order" data-id="<%= item.id %>" >马上下单</span>
        </div>
    </div>
    </a>
</li>
<% }); %>