<% $.each(data.list, function(index, item) {%>
<li class="item J_Item" data-symbol="<%= item.symbol %>">
    <a class="link clearfix" href="./order-history.html?order=<%= item.ticket %>&symbol=<%= item.symbol %>&name=<%= encodeURIComponent(item.symbolName) %>&router=<%= encodeURIComponent('trade-history') %>">
        <% if(item.closeType && item.closeType.indexOf('margin_check') !== -1) {%>
        <span class="margin_checkItem">强制平仓</span>
        <%}%>
        <span class="tag <% if(item.cmd.indexOf('buy') !== -1) {%>lose <%}%>"></span>
        <div class="name-wrapper">
            <p class="name"><%= item.symbolName %></p>
            <p><%= item.symbol %></p>
        </div>
        <ul class="detail">
            <li>
                <p class="name">盈亏</p>
                <% var guandan = (item.status == 'cancelled' || item.status == 'rejected'); %>
                <p class="J_Formate <%= guandan ? '' : 'no-guadan' %> <%= (parseFloat(item.profit) + parseFloat(item.swap)  - parseFloat(item.commission)) > 0 ? 'up' : 'down' %>" data-order="<%= item.ticket %>" ><%= guandan ? '挂单' : (parseFloat(item.profit) + parseFloat(item.swap)  - parseFloat(item.commission)).toFixed(2) %></p>
            </li>
            <li>
                <p class="name">平仓价格</p>
                <p class="J_Formate"><%= item.closePrice %></p>
            </li>
            <li>
                <p class="name">开仓价格</p>
                <p class="J_Formate"><%= item.openPrice %></p>
            </li>
            <!--
            <li>
                <p class="name">占用资金</p>
                <p class="J_Formate"><%= item.margin %></p>
            </li>
            -->
            <li>
                <p class="name">交易量</p>
                <p class="J_Formate"><%= item.volume %></p>
            </li>
            <li>
                <p class="name">止盈价格</p>
                <p class="J_Formate"><%= item.takeProfit %></p>
            </li>
            <li>
                <p class="name">止损价格</p>
                <p class="J_Formate"><%= item.stopLoss %></p>
            </li>
        </ul>
        <span class="guide">
            <span class="triangle"></span>
        </span>
    </a>
</li>
<% }); %>
<% if (data.list.length === 0 && data.showqr) {%>
<li class="empty">你还没有当前交易信息</li>
<li class="qrcode">
    <div class="img-wrapper">
        <img class="img" src="<%= data.qrcode %>">
    </div>
    <p>关注公众号<%= data.weixin %>, 历史一片红</p>
</li>
<% } %>
<% if (data.list.length === 0 && !data.showqr) {%>
<li class="empty">你还没有当前交易信息</li>
<% } %>