<li class="item bd-color">账户金额<span class="num">$<span><%= data.balance.toFixed(2) %></span></span></li>
<li class="item bd-color">浮动盈亏<span class="num">$<span><%= data.profit.toFixed(2) %></span></span></li>
<li class="item bd-color">可用保证金<span class="num">$<span><%= data.freeMargin.toFixed(2) %></span></span></li>
<li class="item bd-color">已用保证金<span class="num">$<span><%= data.margin.toFixed(2) %></span></span></li>
<li class="item bd-color">账户净值<span class="num">$<span><%= data.netDeposit.toFixed(2) %></span></span></li>
<li class="item bd-color">保证金赠金<span class="num">$<span><%= data.bonus.toFixed(2) %></span></span></li>
<li class="item bd-color">保证金比例<span class="num last"><%= data.rate === '--' ? '--' : data.rate %>%</span></li>
<li class="item bd-color">未转化赠金<span class="num">$<span><%= data.unTriggeredBonus.toFixed(2) %></span></span></li>
<li class="item bd-color">已转化赠金<span class="num">$<span><%= data.triggeredBonus.toFixed(2) %></span></span></li>
<li class="item bd-color">已过期赠金<span class="num">$<span><%= data.expiredBonus.toFixed(2) %></span></span></li>
